@use '../../lib/service.scss' as s;


body{
    font-family: 'Roboto', sans-serif;
    font-size: s.size();
    background-color: s.color('background');
}
.header{
    background-color: s.color('backgroundDark');
    @extend .section;
}
.header__container{
    @extend .section__content;
    display: flex;
    justify-content: space-between;
    padding: s.space(4) 0;
}

.header__block{
    display: flex;
    gap: s.space(8);
    align-items: center;
}
.header__link{
    text-decoration: none;
    color: s.color('headText');
    font-size: s.size('small');
    @include  s.click;
}
.header__icon{
    @include  s.click;
}
.ad__block--section{
    @extend .section
}
.ad__block{
    @extend .section__content;
    display: flex;
    justify-content: space-between;
    padding: s.space(4) 0;
    background-color: s.color('background');
    gap: s.space(8);
    align-items: center;
}
.ad__link{
    text-decoration: none;
    color: s.color('link');
    font-size: s.size('default');
    @include  s.click;
} 

.product{
    @extend .section;
    
    background-repeat: no-repeat;
    background-position: bottom center;

}
.product__content{
    display: grid;
    gap: s.space(5);
    align-content: center;
    text-align: center;
}

.product__title{
    font-size: s.size('title');
    font-weight: 600;
}
.product__description{
    font-size: s.size('descript');
}
.product__action{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: s.space(5);
    @include s.click;
}

.product__link{
    @include s.linkAction;
}
.product--big{
    max-height: 700px;
    height: 100vh;
    background-size: cover;
    padding-top: s.space(20);
    padding-bottom: s.space(20);
    @media all and (width < s.screen('tablet')){
        background-size: 150%;
        max-height: 500px;
    }
}
.product--small{
    max-height: 580px;
    height: 100vh;
    background-size: cover;
    padding-top: s.space(12);
    padding-bottom: s.space(12);
    @media all and (width < s.screen('tablet')){
        background-size: 150%;
        max-height: 500px;
    }
}
.product--dark{
    color: s.color('fontWhite');
    background-color: black;
}
.product--light{
    color: s.color('fontDark');
    background-color: s.color('background');
}
.product--top{
    .product__content{
        align-content:flex-start;
    }
}
.product--bottom{
    .product__content{
        align-content: flex-end;
    }
}
$productImage: (
    'iphone-pro' '/img/iphone-pro.png' #1D1D1F, 
    'iphone' '/img/iphone.png' #fafafa,
    'iwatch' '/img/iwatch.png' #1D1D1F,
    'trade_in' '/img/trade-in.png' #fafafa,
    'conference' '/img/conference.png' #1D1D1F,
    'ipad' '/img/ipad.png' #fafafa,
    'small-business' '/img/smallbis.png' #1D1D1F,
    'gift' '/img/gift.png' #fafafa,
    'card' '/img/card.png' #fafafa,
) ;

@each $class, $url, $color in $productImage {
    .product--#{$class}{
        background-image: url(#{$url});
        background-color: $color;
    }
}
.footer{
    @extend .section;
    padding: s.space(10);
    gap: s.space(5);
    
}
.footer__content{
    gap: s.space(2);
   
    .footer__title{
        font-weight: 600;
        font-size: s.size('small');
        color: s.color('fontDark');
    }
    .footer__link{
        font-size: s.size('small');
        color: s.color('fontDark');
    }
    
}


